<div ng-show="todo.showAllStats">
    <div ng-repeat="x in todo.todoList | filter:{done: true}">
        <p><input type="checkbox" ng-model="x.done" ng-click="todo.calcStats()"> <font size="4px"><del><span ng-bind="x.todoText" class="bg-warning"></span></del></font></p>
    </div>
</div>

<div ng-show="!todo.showAllStats">
    <div ng-repeat="x in todo.todoList | filter:{done: true, mail: todo.mail}">
        <p><input type="checkbox" ng-model="x.done" ng-click="todo.calcStats()"> <font size="4px"><del><span ng-bind="x.todoText" class="bg-warning"></span></del></font></p>
    </div>
</div>