<div ng-show="todo.showAllStats">
    <div ng-repeat="x in todo.todoList" >
        <p><input type="checkbox" ng-model="x.done" ng-click="todo.calcStats()"> <font size="4px"><span ng-bind="x.todoText"></span> ( <span ng-bind="x.mail"></span> )</font> </p>
    </div>
</div>

<div ng-show="!todo.showAllStats">
    <div ng-repeat="x in todo.todoList | filter:{mail: todo.mail}" >
        <p><input type="checkbox" ng-model="x.done" ng-click="todo.calcStats()"> <font size="4px"><span ng-bind="x.todoText"></span> ( <span ng-bind="x.mail"></span> )</font></p>
    </div>
</div>
