<style type="text/css">
    body {
        background: #F8F8F8
    }
</style>

<body ng-app="app" ng-controller="TodoController">
    <div class="container">
        <!--<form ng-submit="todo.todoAdd()">-->
        <!--    <div class="form-group">-->
        <!--        <input type="text" placeholder="Add New" ng-model="todo.todoInput" size="30">  -->
        <!--        <button type="submit" class="btn btn-success">Add Task</button>-->
        <!--    </div>-->

        <!--</form>-->



        <div class="col-md-10 well text-center">
            <!--<h2><b><i><span family="Verdana" class="text-primary">What is to do?</span></i></b></h2>-->
            <form ng-submit="todo.todoAdd()">
                <div class="input-group input-group-lg">
                    <input ng-model="todo.todoInput" type="text" class="form-control text-center" placeholder="What is to do?" />

                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit" >Add Task</button>
                    </span>
                </div>
            </form>
        </div>
        
        <div class="col-md-5 well text-center" >
            <p>
                <bold><font size="4px" color="red"><span ng-bind="todo.errorMessage"></span></font></bold>
            </p>
            <div align="justify" ng-show="todo.allT">
                <all-Tasks></all-Tasks>
            </div>

            <div ng-show="todo.activeT">
                <active-Tasks></active-Tasks>
            </div>

            <div ng-show="todo.doneT">
                <done-Tasks></done-Tasks>
            </div>
        
            <p>
                <button ng-click="todo.remove()" class="btn btn-danger">Remove marked</button>
            </p>
            <p>
                <button ng-click="todo.showAll()" ng-class="{'btn btn-info': todo.allT, 'btn btn-default': !todo.allT}">All Tasks</button>
                <button ng-click="todo.showActive()" ng-class="{'btn btn-info': todo.activeT, 'btn btn-default': !todo.activeT}">Active Tasks</button>
                <button ng-click="todo.showDone()" ng-class="{'btn btn-info': todo.doneT, 'btn btn-default': !todo.doneT}">Done Tasks</button>
                </button>
            </p>
        </div>



        <div class="col-md-5 well text-center">
        <!--<h2><b><i><span family="Verdana" class="text-primary">What is to do?</span></i></b></h2>-->
        <form ng-submit="todo.logIn()">
            <div class="input-group input-group-lg" ng-show="todo.guest">
                <input ng-model="todo.mail" type="text" class="form-control text-center" placeholder="Your e-mail" />

                <span class="input-group-btn">
            <button 
              class="btn btn-success" 
              type="submit" >Set E-mail</button>
              </span>

            </div>
        </form>
        
        <div class="col-sm-12" ng-show="!todo.guest">
                <div class="panel panel-primary">
                <div class="panel-heading">
                    <span>User statistics</span> 
                </div>
                <div class="list-group">
                    <li class="list-group-item"><strong>Email: </strong>{{todo.mail}}</li>
                    <li class="list-group-item text-center" align="center">
                        <button ng-click="todo.showStats()" class="btn btn-primary btn-block btn-sm">{{todo.statsMessage}}</button>
                    </li>
                    <div ng-show="!todo.showAllStats">
                    <li class="list-group-item"><strong>My Tasks: </strong>{{todo.myAllTasksCounter}}</li>
                    <li class="list-group-item"><strong>My Active Tasks: </strong>{{todo.myActiveTasksCounter}}</li>
                    <li class="list-group-item"><strong>My Done Tasks: </strong>{{todo.myDoneTasksCounter}}</li>
                    <li class="list-group-item text-center" align="center">
                        <button ng-click="todo.logOut()" class="btn btn-primary btn-block btn-sm">Logout</button>
                    </li>
                    </div>
                    
                    
                    
                    <div ng-show="todo.showAllStats">
                    <li class="list-group-item"><strong>All Tasks: </strong>{{todo.allTasksCounter}}</li>
                    <li class="list-group-item"><strong>All Active Tasks: </strong>{{todo.activeTasksCounter}}</li>
                    <li class="list-group-item"><strong>All Done Tasks: </strong>{{todo.doneTasksCounter}}</li>
                    <li class="list-group-item text-center" align="center">
                        <button ng-click="todo.logOut()" class="btn btn-primary btn-block btn-sm">Logout</button>
                    </li>
                    </div>
                    
                        </div>
                    </div>
                </div>
        </div>
    </div>
